/* WYSIWYG EDITOR */

/* Toolbar */
.toolbar1   { border: 1px solid #F3F3F3; border-bottom:none; background-color:#F3F3F3; height: 26px; padding-left:50px; }
.toolbar2   { border: 1px solid #F3F3F3; height: 24px; background-color:#F3F3F3; padding-left:140px; border-bottom: 0px; border-top: 0px; }

/* Command Buttons */
.button     { width: 20px; height: 20px; border: 0px solid transparent; margin: 1px; padding: 0px; background: transparent; }
.buttonOver { width: 20px; height: 20px; border: 0px solid #999999; margin: 0; padding: 0px; cursor:default; }


/* Font Type and Size Drop Down */
.dropdown          { background-color: #FFFFFF; border: 1px solid #333333; height: 140px; overflow: auto; padding: 1px; }
button.mouseOver   { background-color: #EEEEEE; border: 1px solid #CCCCCC; padding: 3px; cursor: default; text-align: left;}
button.mouseOut    { background-color: #FFFFFF; border: 1px solid #FFFFFF; padding: 3px; cursor: default; text-align: left;}




